<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= categoryName %></title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1><%= categoryName %></h1>
  <ul>
    <% menuItems.forEach(option => { %>
        <li>
          <p><%= option.name %></p>
          <ul>
            <li>Price: <%= option.price %></li>
            <li>Rating: <%= option.rating %></li>
            <li>Description: <%= option.details %></li>
          </ul>
        </li>
    <% }) %>
  </ul>
</body>
</html>
